---
import Button from "./Button.astro";
const title = "Pricing Structures";
const subtitle = "Consultation Fee: $50 (Waived if the service is booked) Emergency Services: Additional 25% on standard rates. Travel Fee: Applicable for locations outside a 50-mile radius, starting at $1 per mile.";

const pricing = [
  {
    name: "Network Cabling",
    price: "$250",
    description: "Installation & maintenance of network cables for businesses and homes.",
    features: [
      {
        name: "Basic Package (Up to 5 Drops): $250",
        icon: "heroicon-o-check-circle",
      },
      {
        name: "Standard Package (6-20 Drops): $600",
        icon: "heroicon-o-check-circle",
      },
      {
        name: "Premium Package (21-50 Drops): $1,200",
        icon: "heroicon-o-check-circle",
      },
      {
        name: "Custom Installations: Starting at $50 per drop (after 50 drops)",
        icon: "heroicon-o-check-circle",
      },
      {
        name: "Maintenance & Repairs: $85 per hour",
        icon: "heroicon-o-check-circle",
      },
    ],
    cta: "Get started",
    ctaLink: "/contact",
  },
  {
    name: "Structured Cabling",
    price: "$750",
    description: "Designing and implementing structured cabling systems.",
    features: [
      {
        name: "Small Office Setup (Up to 10 Devices): $750",
        icon: "heroicon-o-check-circle",
      },
      {
        name: "Medium Office Setup (11-50 Devices): $1,500",
        icon: "heroicon-o-check-circle",
      },
      {
        name: "Large Office Setup (51-100 Devices): $2,800",
        icon: "heroicon-o-check-circle",
      },
      {
        name: "Custom Design and Implementation: Starting at $35 per device",
        icon: "heroicon-o-check-circle",
      },
      {
        name: "Cabling Audits & Upgrades: $125 per hour",
        icon: "heroicon-o-check-circle",
      },
    ],
    cta: "Get started",
    ctaLink: "/contact",
  },
  {
    name: "Voice & Data Cabling",
    price: "$200",
    description:
      "Installation setup for voice and data transmission. ",
    features: [
      {
        name: "Residential Setup: $200 (Up to 3 lines)",
        icon: "heroicon-o-check-circle",
      },
      {
        name: "Small Business Setup (Up to 10 Lines): $600",
        icon: "heroicon-o-check-circle",
      },
      {
        name: "Large Business Setup (11-50 Lines): $1,500",
        icon: "heroicon-o-check-circle",
      },
      {
        name: "Custom Voice/Data Solutions: Starting at $60 per line",
        icon: "heroicon-o-check-circle",
      },
      {
        name: "Troubleshooting & Repairs: $90 per hour",
        icon: "heroicon-o-check-circle",
      },
    ],
    cta: "Get started",
    ctaLink: "/contact",
  },
];
---

<section class="bg-stone-100 dark:bg-slate-800">
  <div class="py-8 px-4 mx-auto max-w-screen-xl lg:py-16 lg:px-6">
    <div class="mx-auto max-w-screen-md text-center mb-8 lg:mb-12">
      <h2
        class="mb-4 text-4xl tracking-tight font-extrabold text-gray-900 dark:text-white"
      >
        {title}
      </h2>
      <p class="mb-5 font-light text-gray-500 sm:text-xl dark:text-gray-400">
        {subtitle}
      </p>
    </div>
    <div
      class="space-y-8 lg:grid lg:grid-cols-3 sm:gap-6 xl:gap-10 lg:space-y-0"
    >
      {
        pricing.map((plan) => (
          <div class="flex flex-col p-6 mx-auto max-w-lg text-center text-gray-900 bg-white rounded-lg border border-gray-100 shadow dark:border-gray-600 xl:p-8 dark:bg-gray-800 dark:text-white">
            <h3 class="mb-4 text-2xl font-semibold">{plan.name}</h3>
            <p class="font-light text-gray-500 sm:text-lg dark:text-gray-400">
              {plan.description}
            </p>
            <div class="flex justify-center items-baseline my-8">
              <span class="mr-2 text-5xl font-extrabold">{plan.price}</span>
              <span class="text-gray-500 dark:text-gray-400">minimum</span>
            </div>

            <ul role="list" class="mb-8 space-y-4 text-left">
              {plan.features.map((feature) => (
                <li class="flex items-center space-x-3">
                  <svg
                    class="flex-shrink-0 w-5 h-5 text-green-500 dark:text-green-400"
                    fill="currentColor"
                    viewBox="0 0 20 20"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      fill-rule="evenodd"
                      d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                      clip-rule="evenodd"
                    />
                  </svg>
                  <span>{feature.name}</span>
                </li>
              ))}
            </ul>
            <Button text={plan.cta} href={plan.ctaLink} />
          </div>
        ))
      }
    </div>
  </div>
</section>
