---
const title = "Our Services";
const description = "Professional data cabling services, including network cabling, structured cabling, voice and data cabling, and audio/video installation for businesses and homes in the Texoma area.";

const team = [
  {
    name: "Network Cabling",
    title: "$250 minimum",
    bio: "Installation and maintenance of network cables for businesses and homes.",
    price: "https://www.datacablingtexoma.com/pricing/#:~:text=Network%20Cabling,Get%20started",
    faq: "https://www.datacablingtexoma.com/faq/#:~:text=FAQ%20%3A%20Network%20Cabling,a%20few%20days.",
    image: "https://data-cabling.s3.us-east-2.amazonaws.com/network.jpg"
  },
  {
    name: "Structured Cabling",
    title: "$750 minimum",
    bio: "Designing and implementing structured cabling systems.",
    price: "https://www.datacablingtexoma.com/pricing/#:~:text=Structured%20Cabling,125%20per%20hour",
    faq: "https://www.datacablingtexoma.com/faq/#:~:text=FAQ%20%3A%20Structured%20Cabling,performance%20and%20reliability.",
    image: "https://data-cabling.s3.us-east-2.amazonaws.com/struct.jpg"
  },
  {
    name: "Voice & Data Cabling",
    title: "$200 minimum",
    bio: "Setup for voice and data transmission.",
    price: "https://www.datacablingtexoma.com/pricing/#:~:text=Voice%20%26%20Data%20Cabling,Get%20started",
    faq: "https://www.datacablingtexoma.com/faq/#:~:text=FAQ%20%3A%20Voice%20%26%20Data,in%20optimal%20condition.",
    image: "https://data-cabling.s3.us-east-2.amazonaws.com/voice.jpg"
  },
  {
    name: "Computer Relocation",
    title: "$100 minimum",
    bio: "Relocating computers and ensuring network connectivity.",
    price: "https://www.datacablingtexoma.com/pricing/#:~:text=Computer%20Relocation,Get%20started",
    faq: "https://www.datacablingtexoma.com/faq/#:~:text=FAQ%20%3A%20Computer%20Relocation,is%20fully%20operational.",
    image: "https://data-cabling.s3.us-east-2.amazonaws.com/computer.jpg"
  },
  {
    name: "Audio/Video",
    title: "$800 minimum",
    bio: "Installation of audio and video systems.",
    price: "https://www.datacablingtexoma.com/pricing/#:~:text=Audio/Video%20Installation,Get%20started",
    faq: "https://www.datacablingtexoma.com/faq/#:~:text=FAQ%20%3A%20Audio/Video,systems%20running%20smoothly.",
    image: "https://data-cabling.s3.us-east-2.amazonaws.com/audio.jpg"
  },
  {
    name: "Server/Equipment Room Cleanup",
    title: "$500 minimum",
    bio: "Organizing and managing server rooms.",
    price: "https://www.datacablingtexoma.com/pricing/#:~:text=Server/Equipment%20Room,Get%20started",
    faq: "https://www.datacablingtexoma.com/faq/#:~:text=FAQ%20%3A%20Server/Equipment,and%20efficient%20operation.",
    image: "https://data-cabling.s3.us-east-2.amazonaws.com/server.jpg"
  },
  {
    name: "Telephone Wiring",
    title: "$150 minimum",
    bio: "Installation and maintenance of telephone lines.",
    price: "https://www.datacablingtexoma.com/pricing/#:~:text=Telephone%20Wiring,Get%20started",
    faq: "https://www.datacablingtexoma.com/faq/#:~:text=FAQ%20%3A%20Telephone%20Wiring,setup%20and%20troubleshooting",
    image: "https://data-cabling.s3.us-east-2.amazonaws.com/telephone.jpg"
  },
  {
    name: "Ring Doorbell & Camera Installation",
    title: "$120 minimum",
    bio: "Installing security cameras and doorbells.",
    price: "https://www.datacablingtexoma.com/pricing/#:~:text=Ring%20Doorbell%20%26%20Camera,Get%20started",
    faq: "https://www.datacablingtexoma.com/faq/#:~:text=FAQ%20%3A%20Ring%20Doorbell,effectively%20over%20time.",
    image: "https://data-cabling.s3.us-east-2.amazonaws.com/camera.jpg"
  },
];
---

<section class="bg-stone-100 dark:bg-slate-800">
  <div class="py-8 px-4 mx-auto max-w-screen-xl lg:py-16 lg:px-6">
    <div class="mx-auto max-w-screen-sm text-center mb-8 lg:mb-16">
      <h2
        class="mb-4 text-4xl tracking-tight font-extrabold text-gray-900 dark:text-white"
      >
        {title}
      </h2>
      <p
        class="font-light text-gray-500 lg:mb-16 sm:text-xl dark:text-gray-400"
      >
        {description}
      </p>
    </div>
    <div class="grid gap-8 mb-6 lg:mb-16 md:grid-cols-2">
      {
        team.map((member) => (
          <div class="items-center bg-gray-50 rounded-lg shadow sm:flex dark:bg-gray-800 dark:border-gray-700">
            <img
              class="w-full rounded-lg sm:rounded-none sm:rounded-l-lg"
              src={member.image}
              alt="service image"
            />

            <div class="p-5">
              <h3 class="text-xl font-bold tracking-tight text-gray-900 dark:text-white">
                <a href={member.price}>{member.name}</a>
              </h3>
              <span class="text-gray-500 dark:text-gray-400">
                {member.title}
              </span>
              <p class="mt-3 mb-4 font-light text-gray-500 dark:text-gray-400">
                {member.bio}
              </p>
              <ul class="flex space-x-4 sm:mt-0">
                <li>
                  <a
                    href={member.faq}
                    class="text-gray-500 hover:text-gray-900 dark:hover:text-white"
                  >
                    <img 
                      class="w-14 h-14"
                      src="https://data-cabling.s3.us-east-2.amazonaws.com/FAQ.png" 
                      alt="FAQ Image"
                    />
                  </a>
                </li>
              </ul>
            </div>
          </div>
        ))
      }
    </div>
  </div>
</section>
