---
const title = "Our Services";
const description = "Meet the team behind the scenes at the 2020 Hackathon.";

const team = [
  {
    name: "Network Cabling",
    title: "$250 minimum",
    bio: "Installation and maintenance of network cables for businesses and homes.",
    price: "https://www.datacablingtexoma.com/pricing/#:~:text=Network%20Cabling,Get%20started",
    faq: "https://www.datacablingtexoma.com/faq/#:~:text=FAQ%20%3A%20Network%20Cabling,a%20few%20days.",
    image: "https://flowbite.s3.amazonaws.com/blocks/marketing-ui/avatars/bonnie-green.png"
  },
  {
    name: "Structured Cabling",
    title: "$750 minimum",
    bio: "Designing and implementing structured cabling systems.",
    price: "https://www.datacablingtexoma.com/pricing/#:~:text=Structured%20Cabling,125%20per%20hour",
    faq: "https://www.datacablingtexoma.com/faq/#:~:text=FAQ%20%3A%20Structured%20Cabling,performance%20and%20reliability.",
    image: "https://flowbite.s3.amazonaws.com/blocks/marketing-ui/avatars/bonnie-green.png"
  },
  {
    name: "Voice & Data Cabling",
    title: "$200 minimum",
    bio: "Setup for voice and data transmission.",
    price: "https://www.datacablingtexoma.com/pricing/#:~:text=Voice%20%26%20Data%20Cabling,Get%20started",
    faq: "https://www.datacablingtexoma.com/faq/#:~:text=FAQ%20%3A%20Voice%20%26%20Data,in%20optimal%20condition.",
    image: "https://flowbite.s3.amazonaws.com/blocks/marketing-ui/avatars/bonnie-green.png"
  },
  {
    name: "Computer Relocation",
    title: "$100 minimum",
    bio: "Relocating computers and ensuring network connectivity.",
    price: "https://www.datacablingtexoma.com/pricing/#:~:text=Computer%20Relocation,Get%20started",
    faq: "https://www.datacablingtexoma.com/faq/#:~:text=FAQ%20%3A%20Computer%20Relocation,is%20fully%20operational.",
    image: "https://flowbite.s3.amazonaws.com/blocks/marketing-ui/avatars/bonnie-green.png"
  },
  {
    name: "Audio/Video",
    title: "$800 minimum",
    bio: "Installation of audio and video systems.",
    price: "https://www.datacablingtexoma.com/pricing/#:~:text=Audio/Video%20Installation,Get%20started",
    faq: "https://www.datacablingtexoma.com/faq/#:~:text=FAQ%20%3A%20Audio/Video,systems%20running%20smoothly.",
    image: "https://flowbite.s3.amazonaws.com/blocks/marketing-ui/avatars/bonnie-green.png"
  },
  {
    name: "Server/Equipment Room Cleanup",
    title: "$500 minimum",
    bio: "Organizing and managing server rooms.",
    price: "https://www.datacablingtexoma.com/pricing/#:~:text=Server/Equipment%20Room,Get%20started",
    faq: "https://www.datacablingtexoma.com/faq/#:~:text=FAQ%20%3A%20Server/Equipment,and%20efficient%20operation.",
    image: "https://flowbite.s3.amazonaws.com/blocks/marketing-ui/avatars/bonnie-green.png"
  },
  {
    name: "Telephone Wiring",
    title: "$150 minimum",
    bio: "Installation and maintenance of telephone lines.",
    price: "https://www.datacablingtexoma.com/pricing/#:~:text=Telephone%20Wiring,Get%20started",
    faq: "https://www.datacablingtexoma.com/faq/#:~:text=FAQ%20%3A%20Telephone%20Wiring,setup%20and%20troubleshooting",
    image: "https://flowbite.s3.amazonaws.com/blocks/marketing-ui/avatars/bonnie-green.png"
  },
  {
    name: "Ring Doorbell & Camera Installation",
    title: "$120 minimum",
    bio: "Installing security cameras and doorbells.",
    price: "https://www.datacablingtexoma.com/pricing/#:~:text=Ring%20Doorbell%20%26%20Camera,Get%20started",
    faq: "https://www.datacablingtexoma.com/faq/#:~:text=FAQ%20%3A%20Ring%20Doorbell,effectively%20over%20time.",
    image: "https://flowbite.s3.amazonaws.com/blocks/marketing-ui/avatars/bonnie-green.png"
  },
];
---

<section class="bg-stone-100 dark:bg-slate-800">
  <div class="py-8 px-4 mx-auto max-w-screen-xl lg:py-16 lg:px-6">
    <div class="mx-auto max-w-screen-sm text-center mb-8 lg:mb-16">
      <h2
        class="mb-4 text-4xl tracking-tight font-extrabold text-gray-900 dark:text-white"
      >
        {title}
      </h2>
      <p
        class="font-light text-gray-500 lg:mb-16 sm:text-xl dark:text-gray-400"
      >
        {description}
      </p>
    </div>
    <div class="grid gap-8 mb-6 lg:mb-16 md:grid-cols-2">
      {
        team.map((member) => (
          <div class="items-center bg-gray-50 rounded-lg shadow sm:flex dark:bg-gray-800 dark:border-gray-700">
            <img
              class="w-full rounded-lg sm:rounded-none sm:rounded-l-lg"
              src={member.image}
              alt="Bonnie Avatar"
            />

            <div class="p-5">
              <h3 class="text-xl font-bold tracking-tight text-gray-900 dark:text-white">
                <a href={member.price}>{member.name}</a>
              </h3>
              <span class="text-gray-500 dark:text-gray-400">
                {member.title}
              </span>
              <p class="mt-3 mb-4 font-light text-gray-500 dark:text-gray-400">
                {member.bio}
              </p>
              <ul class="flex space-x-4 sm:mt-0">
                <li>
                  <a
                    href={member.faq}
                    class="text-gray-500 hover:text-gray-900 dark:hover:text-white"
                  >
                    <svg
                      class="w-5 h-5"
                      fill="currentColor"
                      viewBox="0 0 24 24"
                      aria-hidden="true"
                    >
                      <path d="M8.29 20.251c7.547 0 11.675-6.253 11.675-11.675 0-.178 0-.355-.012-.53A8.348 8.348 0 0022 5.92a8.19 8.19 0 01-2.357.646 4.118 4.118 0 001.804-2.27 8.224 8.224 0 01-2.605.996 4.107 4.107 0 00-6.993 3.743 11.65 11.65 0 01-8.457-4.287 4.106 4.106 0 001.27 5.477A4.072 4.072 0 012.8 9.713v.052a4.105 4.105 0 003.292 4.022 4.095 4.095 0 01-1.853.07 4.108 4.108 0 003.834 2.85A8.233 8.233 0 012 18.407a11.616 11.616 0 006.29 1.84" />
                    </svg>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        ))
      }
    </div>
  </div>
</section>
